@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  background-color: #89c15e;
}

#score-board {
  margin-top: 2rem;
  margin-left: 20rem;
  display: flex;
  align-items: center;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  border-color: white;
  width: 34rem;
}

#headings-block {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 5em;
  color: white;
}

.score-block {
  align-items: center;
  height: 6em;
  width: 7em;
  padding: 0.5em;
  color: #656565;
  background-color: #ffffff;
  border-radius: 10px;
}

.score-label {
  text-align: center;
  font-family: "Roboto";
  text-decoration: solid;
  font-weight: bolder;
}
.score {
  text-align: center;
  font-size: 50px;
  font-family: "Roboto";
  color: black;
  font-weight: bolder;
}

#computer-score-block {
  margin-left: 10rem;
}

#your-score-block {
  margin-left: 2rem;
}

#playing-area {
  margin-top: -7rem;
}

#frame1 {
  position: absolute;
}

.bg-image {
  position: absolute;
  height: 100px;
}

.main-image {
  position: absolute;
  height: 40px;
}

.scissor-block .main-image {
  margin-left: 2.5em;
  margin-top: 1.6em;
}

.papper-block .main-image {
  margin-left: 2em;
  margin-top: 1.8em;
}

.stone-block .main-image {
  margin-left: 1.5em;
  margin-top: 1.5em;
}

#stone-frame {
  margin-top: 50px;
  margin-left: 450px;
}

#scissor-frame {
  margin-top: 50px;
  margin-left: 650px;
}

#papper-frame {
  margin-top: 185px;
  margin-left: 555px;
}

#line1,
#line2,
#line3 {
  position: absolute;
  z-index: -1;
}

#line1 {
  left: 82%;
  top: 50%;
}

#line2 {
  left: 98%;
  top: 70%;
}

#line3 {
  left: 79%;
  top: 72%;
}

.button {
  font-family: "Roboto";
  font-size: large;
  font-weight: bold;
  border-style: solid;
  border-radius: 0.5em;
  color: white;
  background-color: #89c15e;
  border-color: white;
  height: 2em;
  width: 7em;
  margin-top: 2em;
  margin-left: 1em;
}

#game-rules {
  margin-top: 5rem;
  margin-left: 58rem;
}

#list-box {
  list-style-type: none;
  padding: 2em;
}

#game-rule-text {
  text-align: center;
  font-family: "Roboto";
  font-size: xx-large;
  font-weight: bold;
}

#guidelines-box {
  background-color: #004429;
  font-family: "Roboto";
  border-style: solid;
  border-radius: 2em;
  border-width: thick;
  color: white;
  height: 22em;
  width: 18em;
  padding: 1em;
  margin-top: -32rem;
}

li {
  padding: 0.2em;
}

#close-block {
  margin-top: -6em;
  margin-left: 17.5em;
  border-style: solid;
  border-color: white;
  background-color: red;
  text-align: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 10em;
  padding: 1em;
}

#frame2 {
  font-family: "Roboto";
  display: flex;
  margin-left: 22rem;
  margin-top: 8rem;
  color: white;
}

.button2 {
  background-color: white;
  border-color: white;
  border-radius: 0.7em;
  color: grey;
  width: 8.4em;
  height: 3em;
  font-size: small;
  font-weight: bold;
}

#you-picked-block {
  padding: 2em;
}

#status {
  margin: 2em;
  margin-top: 4em;
  padding: 1em;
  align-items: center;
  text-align: center;
}

#pc-picked-block {
  padding: 2em;
}

#user-frame {
  margin-left: -1em;
}

#pc-frame {
  margin-left: -1em;
}

#against-pc-msg {
  font-family: "Roboto";
  margin: 0.5em;
  font-size: large;
  font-weight: bolder;
}

#status-message {
  font-family: "Roboto";
  margin: 0.2em;
  font-size: xx-large;
  font-weight: bolder;
}

#frame3 {
  font-family: "Roboto";
  margin-top: -25rem;
  text-align: center;
  color: white;
}

#cup-img {
  margin-top: -14rem;
}

#hurray-msg {
  font-size: 5rem;
  font-weight: bolder;
  padding: 0.2em;
}
#you-msg {
  font-size: 3rem;
  font-weight: bolder;
  padding-bottom: 0.2em;
}

.green_effect{
  z-index: -1;
  box-shadow:
  0 0 0 10px #1da82b inset, 
  0 0 0 10px #1da82b,
  0 0 0 25px #1da82b90, 
  0 0 0 40px #2E9A2563;
  border-radius: 50%;
  border: none;
}

